{% extends "base.html" %}
{% load static %}

{% block title %}Polityka Prywatności{% endblock %}

{% block styles %}
{% static 'css/cookies.css' %}
{% endblock %}

{% block content %}

<div class="container">
  <h1>Polityka Prywatności</h1>
  <p><strong>Data wejścia w życie:</strong> 10.2024</p>
  
  <h2>1. Gromadzenie informacji</h2>
  <h3>1.1. Informacje, które gromadzimy</h3>
  <p>Możemy gromadzić następujące rodzaje informacji:</p>
  <ul>
      <li><strong>Dane osobowe:</strong> imię, adres e-mail, informacje o preferencjach.</li>
      <li><strong>Informacje o odwiedzinach strony:</strong> adres IP, typ przeglądarki, data i godzina odwiedzin, strony, które odwiedzasz.</li>
      <li><strong>Pliki cookie:</strong> używamy plików cookie, aby poprawić Twoje wrażenia na stronie i analizować ruch.</li>
  </ul>

  <h3>1.2. Jak gromadzimy informacje</h3>
  <p>Gromadzimy informacje na dwa sposoby:</p>
  <ul>
      <li><strong>Bezpośrednie przekazanie:</strong> kiedy rejestrujesz się na stronie, subskrybujesz nasze wiadomości lub zostawiasz komentarze.</li>
      <li><strong>Automatyczne gromadzenie danych:</strong> za pomocą narzędzi analitycznych i plików cookie, które śledzą korzystanie z naszej strony.</li>
  </ul>
  
  <h2>2. Wykorzystanie informacji</h2>
  <p>Wykorzystujemy Twoje informacje do:</p>
  <ul>
      <li><strong>Świadczenia usług:</strong> przetwarzania zapytań, zarządzania subskrypcjami, ulepszania treści.</li>
      <li><strong>Analizy i ulepszania:</strong> analizy odwiedzin strony i poprawy doświadczenia użytkownika.</li>
      <li><strong>Kontaktowania się z Tobą:</strong> wysyłania powiadomień, wiadomości i ofert reklamowych, jeśli subskrybujesz nasze biuletyny.</li>
  </ul>
  
  <h2>3. Przechowywanie i ochrona informacji</h2>
  <p>Podejmujemy środki mające na celu ochronę Twoich danych, stosując nowoczesne technologie i praktyki bezpieczeństwa. Niemniej jednak, żadna transmisja danych przez internet nie jest całkowicie bezpieczna i nie możemy gwarantować pełnej ochrony.</p>
  
  <h2>4. Kontakt</h2>
  <p>Jeśli masz pytania dotyczące naszej polityki prywatności, prosimy o kontakt pod adresem e-mail: <strong>damiraservices@gmail.com</strong></p>

  <!-- Nowy blok z ostrzeżeniem -->
  <h2>5. Uwaga: Treści na stronie</h2>
  <p>Chcielibyśmy podkreślić, że wszystkie posty i artykuły publikowane na naszej stronie mają charakter ogólnych porad i informacji. Nie są one napisane przez certyfikowanych psychologów ani specjalistów w dziedzinie psychologii. Treści te są oparte na naszych własnych doświadczeniach i obserwacjach oraz mają na celu dostarczenie ogólnych informacji na temat powszechnych problemów i wyzwań, z którymi można się spotkać w codziennym życiu.</p>
  <p>Jeśli szukasz profesjonalnej pomocy psychologicznej, zalecamy skonsultowanie się z licencjonowanym specjalistą. Informacje zawarte na naszej stronie nie powinny być traktowane jako zamiennik profesjonalnej porady, diagnozy lub leczenia.</p>
</div>

{% endblock %}
